body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:70px;
  width:121px;
  height:33px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:370px;
  height:1011px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:126px;
  width:360px;
  height:1001px;
  color:#FFFFFF;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:338px;
  background:-webkit-linear-gradient(315deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:linear-gradient(135deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
}
#u927 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:217px;
  width:330px;
  height:338px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u928 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:375px;
  width:65px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:251px;
  width:143px;
  height:56px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.67843137254902);
}
#u930 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:234px;
  width:45px;
  height:16px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.67843137254902);
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:800px;
  width:325px;
  height:1px;
  color:#E4E4E4;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:126px;
  width:360px;
  height:73px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:137px;
  width:36px;
  height:18px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:140px;
  width:22px;
  height:12px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:140px;
  width:12px;
  height:12px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:140px;
  width:16px;
  height:12px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:168px;
  width:49px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:172px;
  width:15px;
  height:15px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:824px;
  width:168px;
  height:28px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1296DB;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:830px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:870px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:897px;
  width:51px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:872px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:862px;
  width:60px;
  height:60px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:943px;
  width:60px;
  height:60px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:979px;
  width:81px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:952px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:954px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:979px;
  width:61px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:981px;
  width:10px;
  height:11px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:956px;
  width:14px;
  height:13px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:955px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:955px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:955px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:955px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:932px;
  width:325px;
  height:1px;
  color:#E4E4E4;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:897px;
  width:61px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:899px;
  width:10px;
  height:11px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:874px;
  width:14px;
  height:13px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:873px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:873px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:873px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:873px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1013px;
  width:325px;
  height:1px;
  color:#E4E4E4;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1064px;
  width:51px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1037px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:1039px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1064px;
  width:61px;
  height:14px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1066px;
  width:10px;
  height:11px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:1041px;
  width:14px;
  height:13px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1040px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1040px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:1040px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1040px;
  width:14px;
  height:14px;
  color:#FFFFFF;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1098px;
  width:325px;
  height:1px;
  color:#E4E4E4;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1028px;
  width:60px;
  height:60px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:156px;
  width:505px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:354px;
  width:402px;
  height:140px;
  font-size:14px;
  line-height:28px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:873px;
  width:504px;
  height:140px;
  font-size:14px;
  line-height:28px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:853px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:334px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:136px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:146px;
  width:0px;
  height:0px;
}
#u995_seg0 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u995_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-4px;
  width:8px;
  height:42px;
}
#u995_seg2 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:30px;
  width:22px;
  height:8px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:344px;
  width:0px;
  height:0px;
}
#u996_seg0 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u996_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-1px;
  width:8px;
  height:5px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:863px;
  width:0px;
  height:0px;
}
#u997_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:519px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:592px;
  width:325px;
  height:170px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:321px;
  word-wrap:break-word;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:529px;
  width:0px;
  height:0px;
}
#u1000_seg0 {
  border-width:0px;
  position:absolute;
  left:-379px;
  top:-4px;
  width:379px;
  height:8px;
}
#u1000_seg1 {
  border-width:0px;
  position:absolute;
  left:-379px;
  top:-4px;
  width:8px;
  height:99px;
}
#u1000_seg2 {
  border-width:0px;
  position:absolute;
  left:-748px;
  top:87px;
  width:377px;
  height:8px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:-425px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:549px;
  width:719px;
  height:420px;
  font-size:14px;
  line-height:28px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  word-wrap:break-word;
}
