body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:161px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:643px;
  height:280px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  white-space:nowrap;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1054px;
  width:867px;
  height:392px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  white-space:nowrap;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1471px;
  width:550px;
  height:210px;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:30px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:100px;
  height:30px;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:100px;
  height:30px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:30px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:60px;
  width:100px;
  height:30px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:100px;
  height:30px;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:60px;
  width:100px;
  height:30px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:60px;
  width:100px;
  height:30px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:90px;
  width:100px;
  height:30px;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:90px;
  width:100px;
  height:30px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:90px;
  width:100px;
  height:30px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:90px;
  width:100px;
  height:30px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width:100px;
  height:30px;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:120px;
  width:100px;
  height:30px;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:120px;
  width:100px;
  height:30px;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:120px;
  width:100px;
  height:30px;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:150px;
  width:100px;
  height:30px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:150px;
  width:100px;
  height:30px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:150px;
  width:100px;
  height:30px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:150px;
  width:100px;
  height:30px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:180px;
  width:100px;
  height:30px;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:180px;
  width:100px;
  height:30px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:180px;
  width:100px;
  height:30px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:180px;
  width:100px;
  height:30px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1681px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:1601px;
  top:1681px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:377px;
  width:1026px;
  height:306px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:503px;
  width:0px;
  height:0px;
}
#u1106_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1106_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:590px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:533px;
  width:0px;
  height:0px;
}
#u1108_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1108_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:503px;
  width:0px;
  height:0px;
}
#u1109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1109_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:402px;
  width:71px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:590px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:533px;
  width:0px;
  height:0px;
}
#u1113_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1113_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:503px;
  width:0px;
  height:0px;
}
#u1115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1115_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:590px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:533px;
  width:0px;
  height:0px;
}
#u1117_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1117_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:503px;
  width:0px;
  height:0px;
}
#u1119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u1119_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:473px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:503px;
  width:0px;
  height:0px;
}
#u1121_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1121_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:590px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:533px;
  width:0px;
  height:0px;
}
#u1123_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1123_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:714px;
  width:1552px;
  height:306px;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:840px;
  width:0px;
  height:0px;
}
#u1127_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1127_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:927px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:870px;
  width:0px;
  height:0px;
}
#u1129_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1129_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:840px;
  width:0px;
  height:0px;
}
#u1130_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1130_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:739px;
  width:85px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:840px;
  width:0px;
  height:0px;
}
#u1134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1134_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:927px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:870px;
  width:0px;
  height:0px;
}
#u1136_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1136_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:840px;
  width:0px;
  height:0px;
}
#u1138_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u1138_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:927px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:870px;
  width:0px;
  height:0px;
}
#u1140_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1140_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:840px;
  width:0px;
  height:0px;
}
#u1142_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1142_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:840px;
  width:0px;
  height:0px;
}
#u1144_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1144_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:840px;
  width:0px;
  height:0px;
}
#u1146_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u1146_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:927px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:870px;
  width:0px;
  height:0px;
}
#u1148_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1148_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:810px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:840px;
  width:0px;
  height:0px;
}
#u1150_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1150_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
