body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:492px;
  width:427px;
  height:142px;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
#u2127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:157px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:756px;
  width:74px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:720px;
  width:37px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:713px;
  width:67px;
  height:67px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  word-wrap:break-word;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:949px;
  width:530px;
  height:290px;
  font-size:14px;
  line-height:28px;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:852px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1451px;
  width:74px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1415px;
  width:37px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1408px;
  width:67px;
  height:67px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  word-wrap:break-word;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:537px;
  background:-webkit-linear-gradient(315deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:linear-gradient(135deg, rgba(0, 199, 184, 1) 0%, rgba(0, 199, 184, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.458823529411765);
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:852px;
  width:360px;
  height:537px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.458823529411765);
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:258px;
  width:356px;
  word-wrap:break-word;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:873px;
  width:50px;
  height:26px;
  opacity:0.8;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:465px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:927px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:475px;
  width:0px;
  height:0px;
}
#u2144_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:937px;
  width:0px;
  height:0px;
}
#u2145_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:53px;
  height:8px;
}
#u2145_seg1 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:8px;
  height:509px;
}
#u2145_seg2 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:497px;
  width:46px;
  height:8px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:239px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:97px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.227450980392157);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1611px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:2054px;
  width:530px;
  height:162px;
  font-size:14px;
  line-height:28px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:25px;
  height:25px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:2186px;
  width:9px;
  height:9px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:25px;
  height:25px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:2186px;
  width:9px;
  height:9px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:25px;
  height:25px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:2186px;
  width:9px;
  height:9px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:25px;
  height:25px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:2186px;
  width:9px;
  height:9px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 150, 219, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1296DB;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:2136px;
  width:90px;
  height:26px;
  color:#1296DB;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:2029px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:2039px;
  width:0px;
  height:0px;
}
#u2156_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2156_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:8px;
  height:118px;
}
#u2156_seg2 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:106px;
  width:139px;
  height:8px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
